
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

.contenedor{
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    width: 100px;
}
.navegacion{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}

.menuNavegacion{
    display: flex;
    gap: 8px;

}